body,
.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

button {
  border: 3px solid rgb(53, 53, 53);
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(245, 245, 245);
}

nav {
  width: 100%;
  height: 15%;
  color: white;
  background-color: #5760af;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  font-size: 2rem;
  outline: 3px solid #acb3e2;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

nav > div {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  outline: 3px solid #acb3e2;
  cursor: pointer;
}

nav div:hover {
  background-color: #4e5599;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.cart {
  grid-column: -2 / -1;
  grid-template-columns: 2fr 1fr;
}

.cart div {
  height: 100%;
  width: 50%;
}

.cart .itemPrice {
  font-size: 1.6rem;
  width: 50%;
}

.cartImage {
  background-image: url("./images/cart.png");
  background-size: contain;
  background-position: 80%;
  background-repeat: no-repeat;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.home header {
  width: 100%;
  height: 25%;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  align-items: center;
}

.home main {
  width: 60%;
  height: 60%;
  text-align: left;
  font-size: 1.5rem;
}

.thumbs {
  background-image: url("./images/thumbs.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 20%;
}

.shop {
  display: grid;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 0 0 5% 0;
  margin: 1.5% 0;
  width: 60%;
}

.shopItem {
  display: grid;
  grid-template-columns: 1fr 3fr 1.2fr;
  column-gap: 6%;
  width: 100%;
  height: 100%;
  margin: 4% 0;
  border-bottom: 2px solid gray;
  flex-grow: 0;
}

.itemImage {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemName {
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
}

.itemPrice::before {
  content: "$";
}

.itemButtons {
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 10%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.itemCounter {
  display: grid;
  width: 50%;
  height: 25%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.itemCount {
  grid-column: 1;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  font-size: 1.6rem;
}

.itemAdd {
  width: 50%;
}

button.itemCounterButton {
  grid-column: 2;
  border: none;
}

.itemCountUp {
  grid-row: 1;
  align-self: center;
}

.itemCountDown {
  grid-row: 2;
  align-self: center;
}
